:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #0070f3;
	--text: #171717;
	--textDarkMode: #ffffff;
	--secondary: #1a1a1a;
	--tableCellDarkMode : #343434;
	font-family: "Inter", "Inter Variable", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--primary: #0070f3;
		--secondary: #1a1a1a;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* workaround for antd cell dark mode (no design token exist) */
body.dark .ant-table-cell {
  background-color: var(--tableCellDarkMode);
  color: var(--textDarkMode);
}

body.light .ant-table-cell {
  background-color: #fff;
  color: var(--text);
}

/* theming for Typography without design token - only affect those in card as it has the class card-typography */
body.dark .card-typography :where(.ant-typography) {
  color: var(--textDarkMode); 
}

body.light .card-typography :where(.ant-typography) {
  color: var(--text); 